<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="../css/backstage/login.css"/>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
    </head>
    <body>
        <div id="login-panel">
            <div class="header-picture">
                <div class="prompt"><b><i>登陆。。。</i></b></div>
            </div>
            <div class="wrapper">
                <form action="/back/loginUser" onsubmit="return checkForm()" method="post">
                    <input class="text-input" id="login-username" type="text" name="userName"/><br/>
                    <input class="text-input" id="login-password" type="password" name="password"/><br/>
                    <input class="action-button" id="login-login-button" type="submit" value="登陆"/>
                    <input class="action-button" id="login-regist-button" type="button" value="注册"/>
                    <!-- thymeleaf 取值语法 -->
                    <input type="hidden" id="msg" th:value="${errorMsg}"/>
                </form>
            </div>
        </div>
        <div id="register-panel">
            <div class="header-picture">
                <div class="prompt"><b><i>注册。。。</i></b></div>
            </div>
            <div class="wrapper">
                <input class="text-input" id="user-name-label" type="text"/><br/>
                <input class="text-input" id="password-label" type="password"/><br/>
                <input class="action-button" id="regist-login-button" type="button" value="登陆"/>
                <input class="action-button" id="regist-regist-button" type="button" value="注册"/>
            </div>
        </div>
        <script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/showalert.js"></script>
        <script type="text/javascript" src="../js/backstage/login.js"></script>
        <script type="text/javascript">
            // 提交表单数据前的检查
            function checkForm() {
                let username = $("#login-username").val();
                let password = $("#login-password").val();
                if (isEmpty(username) || isEmpty(password)) {
                    alertWarning("用户名或密码不能为空！");
                    return false;
                } else {
                    return true;
                }
            }

            // 登陆失败的提示信息
            let errorMsg = $("#msg").val();
            if (!isEmpty(errorMsg)) {
                alertWarning(errorMsg);
            }

            /**
             * 检测对象是否是空对象(不包含任何可读属性)。
             * 方法既检测对象本身的属性，也检测从原型继承的属性(因此没有使hasOwnProperty)。
             * ""
             * " "
             * null
             * undefined
             * []
             * {}
             * NaN
             */
            function isEmpty(obj) {
                // 只能用 === 运算来测试某个值是否是未定义的
                if (obj === undefined) {
                    return true;
                }
                // 等同于 obj === undefined || obj === null
                if (obj == null) {
                    return true;
                }
                // String
                // "",null,undefined
                if (obj === "" || obj == null || obj === undefined) {
                    return true;
                }
                // "",null,undefined,NaN
                if (!obj) {
                    return true;
                }
                // "",null,undefined
                if (!$.trim(obj)) {
                    return true;
                }
                // Array
                // "",[]
                if (obj.length === 0) {
                    return true;
                }
                // "",[]
                if (!obj.length) {
                    return true;
                }
                // Object {}
                // 普通对象使用 for...in 判断，有 key 即为 false
                if ($.isEmptyObject(obj)) {
                    return true;
                }
                return false;
            }
        </script>
    </body>
</html>