<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ThirdTools</title>
        <link rel="stylesheet" type="text/css" href="../css/thirdTools.css"/>
    </head>
    <body>
        <div id="wrapper">
            <div id="operate-wrapper">
                <div class="action-button" id="query">查询</div>
                <div class="action-button" id="create">新增</div>
                <div class="text-input" id="tool-name-input"><input type="text" placeholder="工具名"/></div>
                <div class="action-button" id="query-accurate">精确查询</div>
            </div>
            <div id="table-wrapper">
                <table id="tools-table">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>工具名称</th>
                            <th>工具类型</th>
                            <th>链接地址</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>
                                <div class="edit-button" id="edit">编辑</div>
                                <div class="edit-button" id="delete">删除</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>