<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ThirdTools</title>
        <link rel="stylesheet" type="text/css" href="../css/backstage/thirdTool.css"/>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
    </head>
    <body>
        <div id="wrapper">
            <div id="operate-wrapper">
                <div class="action-button" id="query">查询</div>
                <div class="action-button" id="create">新增</div>
                <div class="text-input" id="tool-name-input">
                    <input type="text" placeholder="工具名称" id="tool-name-value"
                           onfocus="placeholder=''" onblur="placeholder='工具名称'" value=""/>
                </div>
                <div class="action-button" id="query-accurate">精确查询</div>
            </div>
            <div id="table-wrapper">
                <table id="tools-table">
                    <thead>
                        <tr class="table-tr">
                            <td class="code-td">编号</td>
                            <td>工具名称</td>
                            <td>工具类型</td>
                            <td class="link-td">链接地址</td>
                            <td>创建时间</td>
                            <td>更新时间</td>
                            <td class="edit-td">
                                <!--<div class="edit-button edit-act" id="edit0">编辑</div>-->
                                <!--<div class="edit-button delete-act" id="delet0">删除</div>-->
                                操作
                            </td>
                        </tr>
                    </thead>
                    <tbody id="table-body">

                    </tbody>
                </table>
            </div>
            <div id="page-wrapper">
                <div id="page-label"></div>
                <div id="set-size">
                    每页显示
                    <select id="size-selector">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="40">40</option>
                    </select>
                    条数据
                </div>
                <div id="page-button">
                    <div class="paging-button" id="previous">上一页</div>
                    <div class="paging-button" id="next">下一页</div>
                </div>
            </div>
            <div id="suspension-box-wrapper">
                <div id="suspension-box">
                    <div id="prompt"></div>
                    <div id="edit-panel-wrapper">
                        <input type="text" class="tool-edit-input" id="tool-name" placeholder="工具名称"
                               onfocus="placeholder=''" onblur="placeholder='工具名称'" value="">
                        <div class="tool-edit-input">
                            <select id="tool-type-selector">
                                <option value="1">生活常用</option>
                                <option value="2">教育学习</option>
                                <option value="3">办公辅助</option>
                                <option value="4">图片视频</option>
                                <option value="5">网络工具</option>
                                <option value="6">程序开发</option>
                            </select>
                        </div>
                        <input type="text" class="tool-edit-input" id="link-address" placeholder="链接地址"
                               onfocus="placeholder=''" onblur="placeholder='链接地址'" value="">
                        <input class="edit-action-button" id="edit-sure-button" type="button" value="确认"/>
                        <input class="edit-action-button" id="edit-cancel-button" type="button" value="取消"/>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/showalert.js"></script>
        <script type="text/javascript" src="../js/backstage/thirdTool.js"></script>
    </body>
</html>