body {
    background-image: url("../../images/boat_on_ice.jpg");
}
#login-panel {
    width: 300px;
    height: 400px;
    margin: 200px auto;
    background-color: white;
    opacity: 0.5;
    display: block;
    border-radius: 5px;
}
.header-picture {
    width: 100%;
    height: 100px;
    margin: 0 0 20px 0;
    float: left;
    color: #49b1f0;
    font-size: 48px;
}
.header-picture .prompt {
    width: 240px;
    height: 80px;
    margin: 10px auto;
    position: relative;
    // 位置微调
    left: 20px;
    top: 20px;
}
.wrapper {
    width: 200px;
    height: 280px;
    margin: 0 auto;
}
.text-input {
    width: 200px;
    height: 30px;
    font-size: 18px;
    margin-top: 10px;
    float: left;
    border-radius: 3px;
    outline: none;
}

.action-button {
    width: 80px;
    height: 30px;
    margin: 20px 10px;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    float: left;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #49b1f0;
}

#login-login-button {
    background-color: green;
}
#regist-regist-button {
    background-color: green;
}

#register-panel {
    width: 300px;
    height: 400px;
    margin: 200px auto;
    background-color: white;
    opacity: 0.5;
    display: none;
    border-radius: 5px;
}